@model MyGoidaList.Models.Character

@{
    ViewBag.Title = "Delete Character";
}

<h2>Delete Character</h2>

<div>
    <h3>Are you sure you want to delete this character?</h3>
    <p>Name: @Model.Name</p>
    <p>Birth Date: @Model.BirthDate.ToShortDateString()</p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Delete</button>
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
    }
</div>
